# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Production
build

# Misc
.DS_Store
*.pem

# Debug
*.log
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage
.nyc_output

# Docker
Dockerfile
docker-compose.yml
.dockerignore
